html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.main-app {
  background-color: #f1dac4;
  font-family: "Honk", system-ui;
  
}

.container-nav {
  background-color: #474973;
  height: 80px;
}

.container-nav h1 {
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 55px;
}


.card-components {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px;
  padding: 15px;
}

#title-card {
  color: white;
  text-align: center;
  font-size: 28px;
}

